<!-- components/header.html -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img class="logo me-2" src="/static/img/logo_autorent.svg" alt="Autorent" />
      <span>Autorent</span>
    </a>

    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-lg-auto">
        <li class="nav-item">
          <a class="nav-link {% if request.url.path == '/' %}active{% endif %}" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.url.path.startswith('/clientes') %}active{% endif %}" href="/clientes/nuevo">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.url.path.startswith('/vehiculos') %}active{% endif %}" href="/vehiculos">Vehículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.url.path.startswith('/reservas') %}active{% endif %}" href="/reservas">Reservas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>